<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles.css">
  <title>Messages</title>
</head>

<body>
  <%- include('home') %>
  <h1>Messages</h1>
  <a href="/new" class="write-btn">write</a>
  <ul class="message-list">
    <% for( let i = messages.length-1; i >= 0; i-- ) { %>
    <%- include('message', {message: messages[i]}) %>
    <% } %>
  </ul>
</body>

</html>